/*****************General*****************/
/****************************************/
body {
  font-family: "Open Sans", sans-serif;
  color: #1A581B;
}

a {
  color: #67b0d1;
}

a:hover {
  color: #8ec4dd;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/************Back to top button***********/
/****************************************/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #6ba525;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  transition: background 0.2s ease-in-out;
  color: #69A614 !important;
  border: 1px solid #69A614 !important;
  background: #ffffff;
}

#main {
  margin-top: 90px;
}

/******************Header*****************/
/****************************************/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 0;
  background: rgba(103, 176, 209, 0.8);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(107, 165, 37, 0.8);
  padding: 0;
}

#header .superbtn {
  height: 40px;
  padding: 7px 22px;
  position: relative;
  top: 15px;
  right: -160px;
  border: none !important;
}

@media (max-width: 768px) {
  #header.header-scrolled {
    padding: 30px 0;
  }
}

/***************Navigation****************/
/****************************************/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 20px 40px;
  transition: 0.3s;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.header-scrolled .nav-menu > ul > li {
  background: none;
}

.header-scrolled .nav-menu a {
  color: #fff;
}

.header-scrolled .nav-menu a:hover, .header-scrolled .nav-menu .active > a, .header-scrolled .nav-menu li:hover > a {
  background: rgba(255, 255, 255, 0.2);
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2f4d5a;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #67b0d1;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(30, 48, 56, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.float-right {
  float: right;
}

/*******************Hero******************/
/****************************************/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.png") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero-logo {
    width: 100%;
    height: auto;
  }
}

/*****************Sections****************/
/****************************************/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #ffffff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  color: #2f4d5a;
  z-index: 2;
}

.section-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  background: url(../img/section-title-bg.png) no-repeat;
  z-index: -1;
}

.section-title p {
  margin-bottom: 0;
}

.supertitle {
  font-size: 40px;
  color: #053E1C;
  position: relative;
  margin-bottom: 50px;
  text-align: left;
}

.supertitle span{
  color: #69A614;
}

.supertitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  background: #69A614;
  width: 60px;
  height: 8px;
}

.supertext {
  font-size: 16px;
  color: #1A581B;
}

.superimg {
  width: 500px;
  height: auto;
}

.superbtn {
  display: inline-block;
  padding: 6px 30px 8px;
  border: 1px solid #ffffff !important;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  position: relative;
  background: rgb(37,138,13);
  background: linear-gradient(90deg, rgba(37,138,13,1) 9%, rgba(89,154,11,1) 43%, rgba(198,221,96,1) 95%);
}

.superbtn:hover {
  transition: background 0.2s ease-in-out;
  color: #69A614 !important;
  border: 1px solid #69A614 !important;
  background: #ffffff;
}

.superlist {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .supertext {
    text-align: left;
  }

  .superimg {
    width: 100%;
    height: auto;
  }
}

/***************Breadcrumbs***************/
/****************************************/
.breadcrumbs {
  padding: 15px 0;
  background-color: #f8fbfd;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/******************About******************/
/****************************************/
.about {
  padding: 60px 0;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 9;
}

.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #2f4d5a;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn i {
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 9px;
}

.about .content .about-btn:hover {
  background: #7bbad7;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #67b0d1;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}

/*****************Services****************/
/****************************************/
.icon-box {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  text-align: center;
}

.icon-box::before {
  content: '';
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.icon-box:hover::before {
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  border-radius: 0px;
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 100px;
  line-height: 1;
  color: #69A614;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #053E1C;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #69A614;
}

.services .icon-box:hover .icon i {
  color: #053E1C;
}

/*****************Contact*****************/
/****************************************/
.contact {
  padding-bottom: 80px;
}

.contact .form-control {
  border: 1px solid #69A614;
}

.contact .php-email-form .validate {
  display: none;
  color: #053E1C;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #053E1C;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 30px;
  box-shadow: none;
  font-size: 14px;
  color: #053E1C;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #67b0d1;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact-text {
  font-size: 40px;
  color: #69A614;
  text-transform: uppercase;
}

.contact .form-group {
  padding: 0;
}

::-webkit-input-placeholder {
  color: #69A614 !important;
}
::-moz-placeholder {
  color: #69A614 !important;
}
:-ms-input-placeholder {
  color: #69A614 !important;
}
:-moz-placeholder {
  color: #69A614 !important;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******************Footer*****************/
/****************************************/
#footer {
  background: #263f49;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  border-top: 1px solid #385b6b;
  text-align: center;
  padding-top: 30px;
}

.social-links a{
  color: #fff;
  font-size: 34px;
}
